<app-dashboard-navbar></app-dashboard-navbar>
<app-dashboard-container>
    <div class="container flex-auto bg-white w-11/12 rounded-xl shadow-md" >
        <table class="w-auto row-border hover font-body" datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger">
            <thead class="thead">
                <tr>
                    <th> Currency Name </th>
                    <th> Rate </th>
                    <th> Sell Rate </th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let item of rateTable" >
                        <td>{{item.currency}}</td>
                        <td>{{item.rate}}</td>
                        <td>{{item.sellRate}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</app-dashboard-container>