<app-dashboard-navbar></app-dashboard-navbar>
<app-dashboard-container>
  <div
    class="container flex-auto bg-white dark:bg-slate-800 rounded-xl shadow-md"
  >
    <div class="px-10 py-10 relative overflow-x-auto">
      <p
        class="text-center text-3xl py-8 font-sans font-medium text-gray-950 dark:text-white"
      >
        Exchange Rate
      </p>
      <table
        class="w-full text-sm text-left rtl:text-right row-border hover text-gray-500 dark:text-gray-400"
        datatable
        [dtOptions]="dtoptions"
        [dtTrigger]="dttrigger"
      >
        <thead class="thead">
          <tr>
            <th scope="col" class="px-6 py-3 w-0">#</th>
            <th scope="col" class="px-6 py-3">Currency Name</th>
            <th scope="col" class="px-6 py-3">Currency Code</th>
            <th scope="col" class="px-6 py-3">Rate</th>
            <th scope="col" class="px-6 py-3">Sell Rate</th>
          </tr>
        </thead>
        <tbody class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <tr
            *ngFor="let item of rateTable; let i = index"
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            <td class="px-6 py-4 text-left w-0">{{ i + 1 }}</td>
            <td class="px-6 py-4 flex justify-items-center">
              <span class="pl-10"> <img [src]="item.flagIcon" class="w-8 h-8"/> </span>
              <span class="pl-5"> {{ item.currencyName }} </span></td>
            <td class="px-6 py-4 text-center">{{item.currencyCode }}</td>
            <td class="px-6 py-4 text-center">
              {{ item.buyRate | amount : item.currencyCode }}
            </td>
            <td class="px-6 py-4 text-center">
              {{ item.sellRate | amount : item.currencyCode }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-dashboard-container>
