<app-dashboard-navbar></app-dashboard-navbar>
<app-dashboard-container>
  <div class="container flex-auto bg-white dark:bg-slate-800 rounded-xl shadow-md">
    <div class="px-10 py-10 relative overflow-x-auto">
      <div class="flex justify-end p-4">
        <button type="button"
          class="w-max h-max px-2 py-2 text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-orange-300 dark:focus:ring-orange-800 shadow-lg shadow-orange-500/50 dark:shadow-lg dark:shadow-orange-800/80 font-medium rounded-xl justify-center flex items-center"
          data-modal-toggle="addNewUserModal">
          <svg class="w-[26px] h-[26px] " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd"
              d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z"
              clip-rule="evenodd" />
          </svg>
          <span class="ml-3 font-normal text-base"> New User </span>
        </button>
      </div>
      <table class="w-full text-sm text-left rtl:text-right row-border hover text-gray-500 dark:text-gray-400" datatable
        [dtOptions]="dtoptions">
        <thead class="thead">
          <tr>
            <th scope="col" class="px-6 py-3"> # </th>
            <th scope="col" class="px-6 py-3"> User ID </th>
            <th scope="col" class="px-6 py-3"> Email </th>
            <th scope="col" class="px-6 py-3"> First Name </th>
            <th scope="col" class="px-6 py-3"> Last Name </th>
            <th scope="col" class="px-6 py-3"> NPP </th>
            <th scope="col" class="px-6 py-3"> Role </th>
            <th scope="col" class="px-6 py-3"> Status </th>
            <th scope="col" class="px-6 py-3"> Action </th>
          </tr>
        </thead>
        <tbody class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <!-- <tr *ngFor="let item of reservationTable ; let i = index" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <td class="px-6 py-3"> {{i+1}} </td>
            <td class="px-6 py-3"> {{item.id}} </td>
            <td class="px-6 py-3"> {{item.email}} </td>
            <td class="px-6 py-3"> {{item.first_name}} </td>
            <td class="px-6 py-3"> {{item.last_name}} </td>
            <td class="px-6 py-3"> {{item.npp}} </td>
            <td class="px-6 py-3"> {{item.role}} </td>
            <td class="px-6 py-3"> 
              <span 
                [ngClass]="{
                  'bg-green-100 text-green-800': item.status === 'Active',
                  'bg-gray-100 text-gray-800': item.status === 'Inactive'
                }"
                class="px-2 py-1 rounded-full"
                >
                {{item.status}}
              </span>
            </td>
            <td class="px-6 py-3">
              <tr flex justify-center items-center>
                <td>
                  <button 
                    data-modal-target="editUserStatusModal" data-modal-toggle="editUserStatusModal" 
                    data-tooltip-target="tooltip-edit-status" 
                    type="button" class="action-btn tooltip-btn"
                    (click)="editUserStatus()">
                    <svg class="text-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                      viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                      stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" />
                      <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                      <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                      <line x1="16" y1="5" x2="19" y2="8" />
                    </svg>
                  </button>
                  <div id="tooltip-edit-status" role="tooltip"
                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Edit Status 
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div> 
                </td>
                <td>
                  <button 
                  data-modal-target="generateUserPasswordModal" data-modal-toggle="generateUserPasswordModal"
                  data-tooltip-target="tooltip-generate-password" 
                  type="button" class="action-btn tooltip-btn"
                    (click)="generateUserPassword()">
                    <svg class="text-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                      viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd"
                        d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z"
                        clip-rule="evenodd" />
                    </svg>
                  </button>
                  <div id="tooltip-generate-password" role="tooltip"
                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Generate Password
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </td>
              </tr>
            </td>
          </tr> -->

          <tr scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <td class="px-6 py-4"> 1 </td>
            <td class="px-6 py-3"> USER-001 </td>
            <td class="px-6 py-3"> test&#64;mail.com </td>
            <td class="px-6 py-3"> Song </td>
            <td class="px-6 py-3"> Hye Kyo </td>
            <td class="px-6 py-3"> P123123 </td>
            <td class="px-6 py-3"> Teller </td>
            <td class="px-6 py-3 flow justify-center ">
              <div class="inactive">
                <span class="leading-none">Inactive</span>
              </div>
            </td>
            <td class="px-6 py-3">
          <tr flex justify-center items-center>
            <td>
              <button data-modal-target="editUserStatusModal" data-modal-toggle="editUserStatusModal"
                data-tooltip-target="tooltip-edit-status" type="button" class="action-btn tooltip-btn"
                (click)="editUserStatus()">
                <svg class="text-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                  <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                  <line x1="16" y1="5" x2="19" y2="8" />
                </svg>
              </button>
              <div id="tooltip-edit-status" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Edit Status
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </td>
            <td>
              <button data-modal-target="generateUserPasswordModal" data-modal-toggle="generateUserPasswordModal"
                data-tooltip-target="tooltip-generate-password" type="button" class="action-btn tooltip-btn"
                (click)="generateUserPassword()">
                <svg class="text-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z"
                    clip-rule="evenodd" />
                </svg>
              </button>
              <div id="tooltip-generate-password" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Generate Password
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </td>
          </tr>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-dashboard-container>

<!-- Modal for Add New User -->
<div id="addNewUserModal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)]3 max-h-full">
  <div class="relative p-4 w-full max-w-4xl max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 pb-10">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 rounded-t dark:border-gray-600">
        <h3 class="text-lg font-semibold font-sans text-gray-900 dark:text-white">
          Add New User
        </h3>
        <button type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="addNewUserModal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form [formGroup]="addNewUserForm" (ngSubmit)="onSubmitNewUser()" class="p-4 md:p-5" id="formAddNewUser">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2">
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
              Name</label>
            <input formControlName="first_name" type="text" id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Input First Name" />
            <div *ngIf="addNewUserForm.controls['first_name'].invalid && addNewUserForm.controls['first_name'].touched"
              class="text-red-600 text-xs">First Name is required</div>
          </div>
          <div class="col-span-2">
            <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
              Name</label>
            <input formControlName="last_name" type="text" id="last_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Input Last Name" />
            <div *ngIf="addNewUserForm.controls['last_name'].invalid && addNewUserForm.controls['last_name'].touched"
              class="text-red-600 text-xs">Last Name is required</div>
          </div>
          <div class="col-span-2">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input formControlName="email" type="email" id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Input Email" />
            <div *ngIf="addNewUserForm.controls['email'].invalid && addNewUserForm.controls['email'].touched"
              class="text-red-600 text-xs">Valid Email is required</div>
          </div>
          <div class="col-span-2">
            <label for="npp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">NPP</label>
            <input formControlName="npp" type="text" id="npp"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Input NPP" />
            <div *ngIf="addNewUserForm.controls['npp'].invalid && addNewUserForm.controls['npp'].touched"
              class="text-red-600 text-xs">NPP is required</div>
          </div>
          <div class="col-span-2">
            <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
            <select formControlName="role" id="role"
              class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
              required>
              <option value="" disabled>Select Role</option>
              <option value="option1">Teller</option>
              <option value="option2">Admin</option>
            </select>
            <div *ngIf="addNewUserForm.controls['role'].invalid && addNewUserForm.controls['role'].touched"
              class="text-red-600 text-xs">Role is required</div>
          </div>
        </div>
        <button data-modal-target="addNewUserModal" data-modal-toggle="addNewUserModal" type="submit"
          [disabled]="addNewUserForm.invalid"
          [ngClass]="{'bg-gray-400 cursor-not-allowed': addNewUserForm.invalid, 'bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-orange-300 dark:focus:ring-orange-800 shadow-lg shadow-orange-500/50 dark:shadow-lg dark:shadow-orange-800/80': !addNewUserForm.invalid}"
          class="mt-10 w-full px-5 py-3 text-white font-medium rounded-xl text-center">
          Save
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Modal for Generate Password -->
<div id="editUserStatusModal" tabindex="-1"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button"
        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="editUserStatusModal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-4 md:p-5 text-center">
        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to disable this
          user?</h3>
        <button data-modal-hide="editUserStatusModal" type="button"
          class="text-white bg-orange-600 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-orange-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
          Yes, I'm sure
        </button>
        <button data-modal-hide="editUserStatusModal" type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No,
          cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Active/Inactive User -->
<div id="generateUserPasswordModal" tabindex="-1"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button"
        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="generateUserPasswordModal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-4 md:p-5 text-center">
        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to generate new user
          for this user?</h3>
        <button data-modal-hide="generateUserPasswordModal" type="button"
          class="text-white bg-orange-600 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-orange-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
          Yes, I'm sure
        </button>
        <button data-modal-hide="generateUserPasswordModal" type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No,
          cancel</button>
      </div>
    </div>
  </div>
</div>